name: CI + Forensic Monitor

on:
  push:
    branches: [ "master" ]

jobs:
  forensic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: python agent/monitor.py

      - name: Upload forensic log
        uses: actions/upload-artifact@v4
        with:
          name: samplemod-forensic-log
          path: forensic_log.jsonl